#tab {
    transform: translateY(70px);
    text-align: center;
}

th {
    font-family: 'roboto mono', sans-serif;
}

table,
th,
tr,
td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 3px;
}

td {
    height: 70px;
}