@import url('./lib.css');

* {
    font-family: 'work sans', sans-serif;
}

body {
    text-align: center;
}

header {
    background: var(--oceanicGreen);
    box-shadow: var(--neon) var(--oceanicGreen);
    height: 30px;
    top: 0;
}

.pontos {
    background: var(--nardoGray);
    border: 2px solid var(--nardoGray);
    box-shadow: var(--sombra) var(--vidro);
    margin: 3px;
    height: 3px;
    width: 55px;
}

#txt {
    border-radius: 25px;
    margin-top: 50px;
    outline: none;
    padding: 5px;
    width: 50vw;
}

#txt:focus {
    box-shadow: var(--neon) var(--ghost_bg);
}

button {
    background: var(--nardoGray);
    border: 3px solid var(--nardoGray);
    border-radius: 50%;
    box-shadow: 3px 2px 10px 2px var(--ghost_bg);
    height: 50px;
    outline: none;
    transform: translateX(-80%);
    width: 50px;
}

button:hover {
    background: blue;
    border-color: blue;
    box-shadow: 3px 2px 10px 2px blue;
}

#res {
    margin-top: 100px;
    padding: 15px;
}