@import url(./lib.css);

body {
    padding: 7px;
    text-align: center;
    text-shadow: var(--neon2) var(--ghost_bg);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    left: 0;
    border: 1px solid var(--vidro);
    z-index: 1;
    padding: 7px;
    text-align: left;
    box-shadow: var(--neon) var(--ghost_bg);
    background: var(--vidro);
    backdrop-filter: blur(2px);
}

header, h2 {
    font-family: 'roboto mono', sans-serif;
}

h2 {
    margin: 10px;
}

#container {
    margin-top: 80px;
    grid-template-columns: repeat(2, auto);
}

.blocos {
    border: 2px solid var(--vidro);
    margin: 7px;
    padding: 10px;
    box-shadow: var(--neon) var(--vidro);
    border-radius: 5px;
}

footer {
    bottom: 0;
    padding: 3px;
}

#mts {
    font-size: 10px;
}