@import url(./lib.css);

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 50px;
    font-family: 'roboto mono';
}

#cx {
   z-index: -1;
}

#container {
    margin: 35px;
    grid-template-columns: repeat(4, auto);
}

input {
    outline: none;
}

#cx_pesquisa {
    width: 80%;
    border: 1px solid;
    padding: 5px;
    border-radius: 25px;
}

#ok {
    width:  40px;
    height: 40px;
    border: none;
    background: #c4c4c4;
    transform: translateX(40vw);
    box-shadow: var(--neon2) var(--ghost_bg);
    border-radius: 50%;
}

#ok:hover {
    background: var(--oceanicGreen);
    box-shadow: var(--neon) var(--oceanicGreen);
}