* {
    font-family: 'ubuntu', sans-serif;
}

header {
    background: linear-gradient(45deg, #15fc00a1, #00b7ff9a);
}

#container-barr {
    right: 5px;
}

.barr {
    background: var(--nardoGray);
    border-radius: 5px;
    height: 25px;
    margin: 5px;
    width: 10px;
}

#root {
    text-align: center;
}

#txt-search {
    background: none;
    border-radius: 8.5px;
    outline: none;
}

#txt-search:focus {
    background: #e7e7e7;
}

#btn-search {
    background: var(--nardoGray);
    height: 40px;
    transform: translateX(-15px);
    width: 40px;
}

#btn-search:hover {
    background: var(--oceanicBlue);
    border: 1px solid var(--oceanicBlue);
    box-shadow: var(--neon2) var(--oceanicBlue);
}

#btn-reload {
    background: var(--oceanicBlue);
    border: none;
    border-radius: 7.5px;
    box-shadow: 5px 3px 5px var(--nardoGray);
    margin-top: 25px;
}

#btn-reload:hover {
    box-shadow: 5px 3px 5px var(--oceanicBlue);
}

footer {
    bottom: 0;
}

#temesc {
    bottom: 10px;
    right: 10px;
}