* {
    font-family: 'ubuntu', sans-serif;
}

header {
    background: linear-gradient(45deg, #15fc00c2, #00b7ffb2);
    color: black;
    z-index: 1;
}

.burger {
    left: 10px;
}

#container-barr {
    right: 5px;
}

.barr {
    background: var(--nardoGray);
    border-radius: 5px;
    height: 25px;
    margin: 5px;
    width: 10px;
}

#menu-lateral {
    background: #e0e0e0b2;
    transform: translateX(-100vw);
}

.show_menu {
    transform: translateX(0) !important;
}

.link {
    color: black;
}

.link:hover {
    border-bottom: 1px dashed;
    color: blue;
}

#root {
    text-align: center;
}

footer {
    bottom: 3px;
}

#temesc {
    bottom: 10px;
    right: 10px;
}