@import 'lib.css';
@import 'tabela.css';

* {
    font-family: 'ubuntu', sans-serif;
    text-shadow: var(--ghost_neon);
    transition: 0.5s;
}

body {
    text-align: center;
}

header {
    background: linear-gradient(45deg, #0099ff, #00cfc5);
    box-shadow: var(--neon2) #909090;
    top: 0;
}

#ttl {
    margin-left: 10px;
}

#container-barr {
    margin: 10px;
}

.barr {
    border: 2px solid var(--nardoGray);
    border-radius: 3px;
    height: 25px;
    margin: 3px;
    width: 7px;
}

.searchBox {
    transform: translateY(50px);
}

#txt {
    background: none;
    border-radius: 7px 0 0 7px;
    width: 50vw;
}

#btn-ok {
    background: var(--nardoGray);
    border: 3px solid var(--oceanicBlue);
    box-shadow: var(--neon2);
    cursor: pointer;
    height: 45px;
    transform: translateX(-5px);
    width: 45px;
}

#btn-ok:hover,
#btn-linkBox:hover {
    background: var(--oceanicBlue);
}

footer {
    bottom: 3px;
}

#temesc {
    border: 1px solid;
    border-radius: 23px 0 0 23px;
    bottom: 18px;
    right: 50px;
    padding-right: 15px;
}

.linkBar {
    padding: 8px;
}

a {
    color: inherit;
    padding: 5px;
}

a:hover {
    color: #00cfc5;
}

#btn-linkBox {
    background: #c7c7c7;
    border-radius: 50%;
    bottom: 15px;
    font-size: 20px;
    height: 40px;
    right: 20px;
    width: 40px;
}