#txt-search {
    background: none;
    border-radius: 8.5px;
    outline: none;
}

#txt-search:focus {
    background: #e7e7e7;
}

#btn-search {
    background: var(--nardoGray);
    height: 40px;
    transform: translateX(-15px);
    width: 40px;
}

#btn-search:hover {
    background: var(--oceanicBlue);
    border: 1px solid var(--oceanicBlue);
    box-shadow: var(--neon2) var(--oceanicBlue);
}