h2 {
    padding: 25px;
}

#btn-reload {
    background: var(--oceanicBlue);
    border: 2px solid var(--oceanicBlue);
    border-radius: 7.5px;
    margin: 20px;
}

#btn-reload:hover {
    background: var(--oceanicBlue);
    box-shadow: var(--neon2) var(--oceanicBlue);
}

#resultado {
    margin: 70px;
}