#drop {
    border: 3px solid #bbbbbb8c;
    border-top: none;
    border-radius: 0 0 5px 5px;
    left: 7px;
    top: 43px;
    width: fit-content;
}

.link {
    color: black;
}

.link:hover {
    color: blue;
}