#btn-menu {
    left: 15px;
}

.drop_hidden {
    top: -100vh !important;
}

#drop {
    border-radius: 0 0 25px 25px;
    left: 10px;
    top: 47px;
}

#drop a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

#drop a:hover {
    color: blue;
}

#lua {
    margin-right: 15px;
    width: 30px;
}