#container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 100px 0 10px;
    width: 97vw;
}

.blocos {
    border-radius: 5px;
    margin: 7px;
    text-shadow: var(--neon2) var(--ghost_bg);
}