@import url('lib.css');
@import url('decl.css');
@import url('alfabeto.css');
@import url('semana.css');
@import url('meses.css');

:root {
    --tam7: 7px;
}

* {
    transition: 0.3s;
}

.bg_vidro {
    background: var(--vidro);
}

.padd3 {
    padding: 3px;
}

.padd5 {
    padding: 5px;
}

.padd7 {
    padding: var(--tam7);
}

.br_20 {
    border-radius: 20px;
}

body {
    text-shadow: var(--neon2) var(--ghost_bg);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    left: 0;
    border: 1px solid var(--vidro);
    z-index: 1;
    text-align: left;
    box-shadow: var(--neon) var(--ghost_bg);
    backdrop-filter: blur(2px);
}

body, #drop {
    text-align: center;
}

h1, #ok {
    cursor: pointer;
}

header, h2 {
    font-family: 'roboto mono', sans-serif;
}

h2 {
    margin: 10px;
}

#drop {
    padding: 10px;
    transform: translateY(var(--tam7));
    background: var(--vidro);
    border-top: none;
    border-radius: 0 0 10px 10px;
}

#drop a {
    color: black;
    text-decoration: none;
}

#lua {
    width: 25px;
    transform: translateX(-50px);
}

#temesc {
    transform: translateX(5px);
}

h1:hover, #drop a:hover {
    color: blue;
    text-shadow: var(--neon2) blue;
}

#search {
    flex-wrap: wrap;
    top: 66px;
    position: absolute;
}

#txt {
    border: 2px solid var(--vidro);
    box-shadow: var(--sombra) var(--vidro);
    outline: none;
    position: inherit;
    width: 70vw;
}

#ok {
    background: var(--nardoGray);
    border: 3px solid #929292;
    border-radius: 50%;
    box-shadow: -5px 2px 7px #42424252;
    height: 45px;
    outline: none;
    transform: translateX(-3vw);
    width: 45px;
}

#res {
    background: var(--nardoGray);
    border: 2px solid var(--nardoGray);
    box-shadow: var(--sombra) var(--ghost_bg);
    color: black;
    position: inherit;
    top: 50px;
    width: 75vw;
}

#close {
    border: 2px solid var(--ghost_bg);
    box-shadow: var(--sombra) var(--ghost_bg);
    cursor: pointer;
    float: right;
}

#close:hover {
    background: var(--ghost_bg);
}

#container {
    margin-top: 110px;
    grid-template-columns: repeat(2, auto);
}

.blocos {
    border: 2px solid var(--vidro);
    margin: var(--tam7);
    padding: 10px;
    box-shadow: var(--neon) var(--vidro);
    border-radius: 5px;
}

.trad {
    padding: 3px;
}

footer {
    bottom: 0;
    color: #505050;
    padding: 3px;
}

#mts {
    font-size: 10px;
}