@import "lib.css";
@import "alfabeto.css";
@import "decl.css";
@import 'drop.css';
@import "home.css";
@import 'search.css';

* {
    transition: all 0.3s;
}

.posX_30 {
    transform: translateX(30px);
}

.temEsc {
    background: black;
    color: var(--nardoGray);
}

body {
    font-family: 'work sans', sans-serif;
    text-align: center;
}

header {
    color: black;
    font-family: 'roboto mono', sans-serif;
    top: 0;
    z-index: 1;
}

#meses {
    transform: translateY(75px);
}

.diaSem,
.meses_ano {
    padding: 10px;
}

.trad {
    padding: 3px;
}

footer {
    bottom: 0;
    color: #505050;
    padding: 3px;
}