@import "lib.css";
@import "alfabeto.css";
@import "decl.css";
@import 'drop.css';
@import "home.css";
@import 'search.css';

* {
    transition: all 0.3s;
}

.temEsc {
    background: black;
    color: var(--nardoGray);
}

body {
    font-family: 'work sans', sans-serif;
    text-align: center;
}

header {
    color: black;
    font-family: 'roboto mono', sans-serif;
    top: 0;
    z-index: 1;
}

.posX_30 {
    transform: translateX(30px);
}

#meses {
    transform: translateY(15px);
}

.diaSem,
.meses_ano {
    padding: 10px;
}

#container {
    margin-top: 110px;
    grid-template-columns: repeat(2, auto);
}

.blocos {
    border: 2px solid var(--vidro);
    border-radius: 5px;
    box-shadow: var(--neon) var(--vidro);
    margin: 7px;
    padding: 10px;
    text-shadow: var(--neon2) var(--ghost_bg);
}

.trad {
    padding: 3px;
}

footer {
    bottom: 0;
    color: #505050;
    padding: 3px;
}