@import "alfabeto.css";
@import 'drop.css';
@import "home.css";
@import 'search.css';
@import 'num.css';

* {
    transition: all 0.3s;
}

body {
    font-family: 'work sans', sans-serif;
    text-align: center;
}

header {
    color: black;
    font-family: 'roboto mono', sans-serif;
    top: 0;
    z-index: 1;
}

.diaSem,
.meses_ano {
    padding: 10px;
}

td {
    height: 70px;
}

.trad {
    padding: 3px;
}

footer {
    bottom: 3px;
    color: #505050;
}