/* 
    * * * * * * * * * * * * *     * * * * * * * * *    * * * * * * * * * *    * * * * * * * * *     * * * * * * * * * * 
    * * * * * * * * * * * * *     * * * * * * * * *    * * * * * * * * * *    * * * * * * * * *     * * * * * * * * * * 
    * *                   * *     * *           * *            * *            * *                   * *             * *  
    * *        * *        * *     * * * * * * * * *            * *            * * * * * * * * *     * *     * *     * * 
    * *        * *        * *     * * * * * * * * *            * *            * * * * * * * * *     * *     * *     * * 
    * *        * *        * *     * *           * *            * *                          * *     * *             * * 
    * *        * *        * *     * *           * *            * *            * * * * * * * * *     * *             * * 
    * *        * *        * *     * *           * *            * *            * * * * * * * * *     * *             * * 
*/

@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap'); /* Quantico */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); /* Michroma */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap'); /* Electrolize */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap'); /* Black Ops */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* Press start 2P */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap'); /* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap'); /* Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap'); /* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap'); /* Roboto mono */

* {
    margin: auto;
    transition: all .3s;
}

:root {
    --sand: #fadcb0;
    --neon: 1px 1px 10px 2px;
    --neon2: 2px 2px 7px;
    --vidro: #cfcfcfbb;
    --sombra: 5px 2px 5px;
    --ghost_bg: #50505080;
    --nardoGray: #d3d3d3;
    --oceanicBlue: #00ccff;
    --oceanicGreen: #01f870;
    --ghost_neon: 3px 3px 3px var(--ghost_bg);
}

/* componentes */

a {
    text-decoration: none;
}

.btn_burger {
    background: black;
    border: none;
    height: 5px;
    width: 30px;
}

button {
    cursor: pointer;
}

#copyright {
    background: none;
    font-size: 7px;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid;
    padding: 15px;
}

/* classes utilitárias */

.blur {
    background: var(--ghost_bg);
    backdrop-filter: blur(2px);
}

.blur2 {
    background: #bbbbbb8c;
    backdrop-filter: blur(2px);
}

.blur3 {
    background: #ffffffa5;
    backdrop-filter: blur(2px);
}

.blur4 {
    background: #ffffff46;
    backdrop-filter: blur(3px);
}

.blur5 {
    background: linear-gradient(45deg, #ffffff8c, #7c7c7c8c);
    backdrop-filter: blur(3px);
}

.br7 {
    border-radius: 7px;
}

.br15 {
    border-radius: 15px;
}

.br20 {
    border-radius: 20px;
}

.br50 {
    border-radius: 50%;
}

.bs_neon {
    box-shadow: 5px 5px 25px #acacac;
}

.brd_nardo {
    border: 1px solid var(--nardoGray);
}

.bs_neon2 {
    box-shadow: 5px 5px 15px #acacac;
}

.bs_neon3 {
    box-shadow: 3px 3px 10px #acacac;
}

.bs_neon4 {
    box-shadow: 0 2px 7px #a0a0a08e;
}

.center {
    align-items: center;
    justify-content: center;
}

.fix {
    position: fixed;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.padd3 {
    padding: 3px;
}

.padd5 {
    padding: 5px;
}

.padd7 {
    padding: 7px;
}

.padd10 {
    padding: 10px;
}

.padd15 {
    padding: 15px;
}

.vidro_neon {
    backdrop-filter: blur(5px);
    background: var(--vidro);
    border: 2px solid var(--vidro);
    box-shadow: 3px 3px 7px var(--ghost_bg);
}

/* classes de tamanho */

.h50 {
    height: 50vw;
}

.h100 {
    height: 100vh;
}

.w35 {
    width: 35vw;
}

.w50 {
    width: 50vw;
}

.w70 {
    width: 70vw;
}

.w100 {
    width: 100vw;
}

/* Classes de função */

.hover_float:hover {
    transform: translateY(-2px);
}

.temesc {
    background: black;
    color: var(--nardoGray);
}

.x30 {
    transform: translateX(30px);
}

.x35 {
    transform: translateX(35px);
}

.x100 {
    transform: translateX(100vw);
}

.x250 {
    transform: translateX(-250px);
}

.z45 {
    transform: rotateZ(45deg);
}