@media only screen and (max-width: 520px) {
    body {
        display: flex;
    }

    #ttl {
        font-size: 27px;
    }

    #container {
        grid-template-columns: auto;
    }

    .blocos {
        width: 85vw;
    }
}

@media only screen and (max-width: 820px) {
    table,
    tr,
    td {
        font-size: 13px;
        padding: 10px;
    }

    td {
        height: 45px;
    }
}