#search {
    margin-top: 60px;
    top: 60px;
}

button {
    cursor: pointer;
}

#txt, #ok, #res {
    background: var(--nardoGray);
    outline: none;
}

#txt {
    border: 2px solid var(--vidro);
    box-shadow: var(--sombra) var(--vidro);
    outline: none;
    width: 70vw;
}

#ok {
    border: 3px solid #929292;
    border-radius: 50%;
    box-shadow: -5px 2px 7px #42424252;
    height: 45px;
    width: 45px;
}

#ok, #res {
    transform: translateX(-3vw);
}

#res {
    border: 2px solid var(--nardoGray);
    box-shadow: var(--sombra) var(--ghost_bg);
    color: black;
    position: absolute;
    top: 110px;
    width: 75vw;
}

#close {
    border: 2px solid var(--ghost_bg);
    box-shadow: var(--sombra) var(--ghost_bg);
    float: right;
}

#close:hover {
    background: var(--ghost_bg);
}